header
{
    height: 80px;
    background-color: white;
}
#header-container
{
    width: 80%;
    margin: auto;
}
.col-3
{
    width: 20%;
    float: left;
}
.col-4
{
    width: 60%;
    float: left;
}
body{
    background-color: black;
    margin: 0;
}
.menu li
{
    list-style-type: none;
    display: inline;
    font-size: 1.3em;
    color: cadetblue;
    padding-right: 30px;
}
.menu
{
    margin-top: 26px;
}
.getStartedBIN
{
    background-color: deepskyblue;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    float:right;
}
.menu li:hover{
    color: rgb(252, 206, 4);
}

.center-video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.column-3
{
    float: left;
    padding-left: 285px;
}

#feature-section{
    padding-top: 30px;
    background-color: rgb(189, 250, 161);
    height: 580px;
}

.feature-section-title{
width: 70%;
text-align: center;
font-weight: 200;
line-height: 1.5em;
font-size: 40px;
margin: auto;
padding-bottom: 30px;
}

.feature-content{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-left: 30px;
}

.feature-content .column3 img{
    width: 125%;
}

.feature-content .column3 h3{
    text-align: center;
}

.feature-content .column3{
    padding: 10px;
    width: 30%;
}

.icons a{
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

#for-copyright-home{
    clear: both;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    width: 100%;
    position: fixed; 
    text-decoration-color: rgb(0, 0, 0);
    background-color: rgb(205, 255, 236);
    padding-top: 11px;
    padding-bottom: 11px;
}

#for-copyright-aboutus{
    clear: both;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    width: 100%;
    position: fixed; 
    text-decoration-color: rgb(0, 0, 0);
    background-color: rgb(205, 255, 236);
    padding-top: 11px;
    padding-bottom: 11px;
}


