header
{
    height: 80px;
    background-color: white;
}
#header-container
{
    width: 80%;
    margin: auto;
}
.col-3
{
    width: 20%;
    float: left;
}
.col-5
{
    width: 22%;
    float: left;
}
.col-4
{
    width: 50%;
    float: left;
}
body{
    background-color: black;
    margin: 0;
}
.menu li
{
    list-style-type: none;
    display: inline;
    font-size: 1.3em;
    color: cadetblue;
    padding-right: 30px;
}
.menu
{
    margin-top: 26px;
}

.menu li:hover{
    color: rgb(252, 206, 4);
}

.getStartedBIN
{
    background-color: deepskyblue;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    float:right;
}
#top-section-main
{
    background-image: url(../IMG/bp1.jpeg);
    height: 780px;
    background-repeat: repeat;
    border: none;
}
#top-section-content
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section-content h1
{
    font-size: 4em;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 10px;
}
#top-section-content p
{
    font-size: 2em;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
    margin-top: 0px;
}
.main-form h6
{
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 100;
    color: aliceblue;
    text-align: center;
}
.main-form input
{
    margin:0;
    width: 30px;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    border: none;
}

#for-copyright-ed{
    clear: both;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    width: 100%;
    position: fixed; 
    background-color: rgb(205, 255, 236);
    padding-top: 11px;
    padding-bottom: 11px;
}